    <% @users.each do |user| %>
      <ul>
        <li>
        Id: <%= user.id %><br>
        First name:<%= user.first_name %><br>
        Last name:<%= user.last_name%><br>
        Email:<%= user.email %><br>
        Created at: <%= user.created_at %><br>
        Updated at: <%= user.updated_at %><br>
        <%= link_to 'Show', user_path(user) %><br>
        </li>
      </ul>
    <% end %>