<h1>message Details</h1>

<p><strong>Chat id:</strong> <%= @message.chat_id  %></p>
<p><strong>User id:</strong> <%= @message.user_id%></p>
<p><strong>Body:</strong> <%= @message.body%></p>
<p><strong>Created at:</strong> <%= @message.created_at %></p>
<p><strong>Updated at:</strong> <%= @message.updated_at %></p>
<%= link_to 'Back', messages_path %>