<%= link_to 'Add new chat', new_chat_path %>    
    <% @chats.each do |chat| %>
      <ul>
        <li>
        Sender id: <%= chat.sender_id %><br>
        Receiver id:<%= chat.receiver_id  %><br>
        Created at: <%= chat.created_at %><br>
        Updated at: <%= chat.updated_at %><br>
        <%= link_to 'Show', chat_path(chat) %><br>
        </li>
      </ul>
    <% end %>